body{
  background-color: rgb(255, 204, 0);
  color:white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden
}

button{
  background-color: rgb(71, 70, 67);
  border-color: rgb(179, 178, 175);
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  height: 30px;
  color: rgb(255, 255, 255);
}

.popupContent {
visibility: hidden;
background-color: rgba(0, 0, 0, 0.6);
width: 100%;
height: 100%;
top: 0%;
left: 0%;
text-align: center;
position: absolute;
z-index: 100;
}

select {
  background-color: rgb(71, 70, 67);
  border-color: rgb(179, 178, 175);
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  height: 30px;
  color: rgb(255, 255, 255);
  width: 100px;
  text-align: center;
}

#MainGridContainer{
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 10px;
}

.sidepanel{
    background-color: rgb(71, 70, 67);
    display: flex;
    justify-content: center;
    align-items: center;
}

.joystickContainer{
  width: 220px;
  height: 220px;
  border-color: rgb(179, 178, 175);
  border-style: solid;
  border-width: 2px;
  border-radius: 30px;
  position: relative;
}

.joystickBackground{
  width: 200px;
  height: 200px;
  position: absolute; 
  left: 10; 
  top: 10; 
  z-index: 0;
}

.joystick{
  width: 200px;
  height: 200px;
  position: absolute; 
  left: 10; 
  top: 10; 
  z-index: 1;
}

.joystickSlider{
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  background: #d3d3d3;
  height: 20px;
  width: 100%;
}

#CenterGridContainer {
    background-color: rgb(71, 70, 67);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    row-gap: 0px;
}

#StatusPanel{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
}

#BatteryPanel{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#NetworkPanel{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MainButtonPanel{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.MainButton{
  background-color: rgb(71, 70, 67);
  border-color: rgb(179, 178, 175);
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  height: 50px;
  width: 50px;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#LedPanel{
  display: flex;
  justify-content: center;
  align-items: center;
}

#LedControlsGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-areas: 
  "A B D"
  "A C D";
}

#Spacer{
  grid-area: A;
  color: rgb(255, 255, 255);
  text-align: center;
  align-self: center;
}

#LedModeSelect{
  grid-area: B;
}

#LedSendButton{
  grid-area: C;
}

#LedColorPicker{
  grid-area: D;
  align-self: center;
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 40px; /* Full-width */
  height: 40px; /* Specified height */
  border: none;
  background-color: transparent;
}

#LedColorPicker::-webkit-color-swatch{
  border-radius: 10%;
  border: none;
}

#ModePanel{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}